<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <audio id="audio" controls>
    <source src="battle.mp3" type="audio/mpeg">
    Please use a more modern browser that supports this audio element.
  </audio>
  <div style="margin: 25px;">
    <h4>(L) Panning (R)</h4>
    <input type="range" id="panSlider" min="-1" max="1" value="0" step="0.01" onclick="UpdatePanning()" />

  </div>

  <button id="toggle">PLAY/PAUSE</button>
  
  <button id="debug">DEBUG</button>

  <button id="analyse">ANALYSE</button>

  <br>

  <canvas id="canvas"></canvas>


  <p><a href="/">Back to main</a></p>
</body>

<script type="text/javascript" src="/javascripts/processAudio.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

</html>