<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/caesar">Aufgabe 3: Caesar-Cipher</a></p>
    <% 
    var text = "hello test world";
    var alphabet = new Map();

    for (let char of text){
      char = char.toLowerCase();

      if (/[a-z]/.test(char)){
        let amount;
        if (alphabet.get(char) == undefined){
          amount = 1;
        } else{
          amount = alphabet.get(char) + 1;
        }
        alphabet.set(char, amount);
      }
    }

    console.log(alphabet);





    %>
    <p><a href="/">Back to main</a></p>

  </body>
</html>
